@font-face {
  font-family: 'RF Dewi';
  src: local('RF Dewi'), url(fonts/RFDewi-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'RF Dewi';
  src: local('RF Dewi'), url(fonts/RFDewi-Semibold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'RF Dewi';
  src: local('RF Dewi'), url(fonts/RFDewi-Bold.ttf) format('truetype');
  font-weight: bold;
}



.quiz {
  background: #F5F9FD;
  border-radius: 8px;
}

.progressBar {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  height: 4px;
  background: #fff;
  z-index: inherit;
  border-radius: 8px;
}

.progressBar__filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #E3000B;
  border-radius: 8px;
}

.question-picture-container {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.question-text {
  font: 24px / 32px 'New York Medium Bold', serif;
  text-align: left;
  position: relative;
  padding: 28px 30px 25px 30px;
}

.question-answers {
  margin: 0 !important;
  padding: 0 16px 32px 16px !important;
  list-style: none !important;
  position: relative;
  color: #000000;
  border-radius: 0 0 8px 8px;
}

.question-answer {
  position: relative;
  padding: 0 0 4px 0;
}

.question-answer:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #EBF3FA;
  border-radius: 8px;
}



.question-answer-wrong:before {
  background: #E3000B;
}

.question-answer-wrong,
.question-answer-correct {
  color: #FFFFFF;

  .control {
    border-radius: 20px;
    border: 2px solid #fff;
  }
}

.question-answer-correct:before {
  background: #52AE50;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
}


.answer-container-text {
  font-size: 16px;
  line-height: 20px;
  display: block;
  position: relative;
  padding: 16px 10px 8px 50px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'RF Dewi', sans-serif;
  letter-spacing: -0.5px;
}



.control {
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 16px;
  left: 16px;
  content: "";
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #E3000B;
}

input {
  display: none;
}

.question-answer.selected {
  .control:before {
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}


.submit-button {
  font: 11px SF Mono Medium, monospace;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  background: #E3000B;
  color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  width: auto;
  min-width: 172px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 32px;
}


.quiz__result-description {
  font: 24px / 32px 'New York Medium Bold', serif;
  padding: 33px 20px 0 33px;
  color: #000000;
}

.quiz__warning {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
  background: #E3000B;
  color: #ffffff;
  border-radius: 8px;

  button {
    background: #FFFFFF;
    color: #000000;
    margin: 0;
  }
}









input {
  border: none;
  background: none;
}

.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}

.ya-share2__badge {
  border-radius: 4px !important;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 2px 4px 0 0;
}

.vgtrk-widget-quiz__share {
  display: flex;
  justify-content: center;
  gap: 4px;
}